<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід</title>
    <link rel="stylesheet" href="D:/goMusor/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Вхід</h1>
        <form id="loginForm">
            <input type="text" name="username" placeholder="Ім'я користувача" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit" class="btn">Увійти</button>
        </form>
        <p>Ще не зареєстровані? <a href="/">Реєстрація</a></p>
    </div>

    <script src="D:/goMusor/static/js/script.js"></script>
</body>
</html>